<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    <h5 class="text-white h4">Araba Kiralama Uyuglaması</h5>
    <span class="text-muted">Furkan Mutlu</span>
  </div>
</div>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="d-grid gap-2 d-md-flex justify-content-md-top">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarToggleExternalContent"
        aria-controls="navbarToggleExternalContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <li class="nav-item dropdown">
        <a
          class="btn btn-outline-primary dropdown-toggle"
          href="#"
          id="customerDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Araba
        </a>
        <ul
          class="dropdown-menu dropdown-menu-dark"
          aria-labelledby="customerDropdown"
        >
          <li class="dropdown-item" style="cursor: pointer" routerLink="cars/add">Ekle</li>
          <li class="dropdown-item" style="cursor: pointer" routerLink="/cars">
            Listele
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a
          class="btn btn-outline-primary dropdown-toggle"
          href="#"
          id="customerDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Kiralama
        </a>
        <ul
          class="dropdown-menu dropdown-menu-dark"
          aria-labelledby="customerDropdown"
        >
          <li class="dropdown-item" style="cursor: pointer">Ekle</li>
          <li
            class="dropdown-item"
            style="cursor: pointer"
            routerLink="/rentals"
          >
            Listele
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a
          class="btn btn-outline-primary dropdown-toggle"
          href="#"
          id="customerDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Müşteri
        </a>
        <ul
          class="dropdown-menu dropdown-menu-dark"
          aria-labelledby="customerDropdown"
        >
          <li class="dropdown-item" style="cursor: pointer">Ekle</li>
          <li
            class="dropdown-item"
            style="cursor: pointer"
            routerLink="/customers"
          >
            Listele
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a
          class="btn btn-outline-primary dropdown-toggle"
          href="#"
          id="brandDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Marka
        </a>
        <ul
          class="dropdown-menu dropdown-menu-dark"
          aria-labelledby="brandDropdown"
        >
          <li class="dropdown-item" (click)="prepareBrandForm(null)" style="cursor: pointer" style="cursor: pointer" data-bs-toggle="modal" data-bs-target="#brandCRUDModal">Ekle</li>
          <li class="dropdown-item" (click)="loadBrands()" style="cursor: pointer" data-bs-toggle="modal" data-bs-target="#brandListModal">Listele</li>
        </ul>
      </li>
      <li class="nav-item dropdown" style="cursor: pointer">
        <a
          class="btn btn-outline-primary dropdown-toggle"
          href="#"
          id="colorDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Renk
        </a>
        <ul
          class="dropdown-menu dropdown-menu-dark"
          aria-labelledby="colorDropdown"
        >
          <li class="dropdown-item" (click)="prepareColorForm(null)" style="cursor: pointer"  style="cursor: pointer" data-bs-toggle="modal" data-bs-target="#colorCRUDModal">Ekle</li>
          <li class="dropdown-item" (click)="loadColors()" style="cursor: pointer"  style="cursor: pointer" data-bs-toggle="modal" data-bs-target="#colorListModal">Listele</li>
        </ul>
      </li>
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-primary">Ara</button>
      </form>
    </div>
  </div>
</nav>

<div class="modal fade" id="brandListModal" tabindex="-1" aria-labelledby="brandModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="brandModalLabel">Markalar Listelendi.</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="naviBrandFilterTextFormControl" class="form-label">Marka Arama</label>
          <input type="text" [(ngModel)]="naviBrandFilterText" class="form-control" id="naviBrandFilterTextFormControl" placeholder="Arama İfadesini Giriniz">
        </div>
        <div *ngIf="naviBrandFilterText" class="alert alert-secondary">
            Girilen Arama İfadesi: {{naviBrandFilterText}}
        </div>
        <table class="table table-responsive table-striped table-dark table-hover">
          <thead class="thead-light">
              <tr>
                  <th>No</th>
                  <th>Marka Adı</th>
                  <th>Sil</th>
                  <th>Arabaları Listele</th>
                  <th>Güncelle</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let brand of brands |brandFilterPipe:naviBrandFilterText">
                  <td>{{brand.id}}</td>
                  <td>{{brand.name}}</td>
                  <td>
                      <button type="button" class="btn btn-danger" (click)="deleteCurrentBrand(brand)">
                          Sil
                      </button>
                  </td>
                  <td>
                      <button type="button" class="btn btn-info" data-bs-dismiss="modal" routerLink="/cars/brand/{{brand.id}}">
                          Arabaları Listele
                      </button>
                  </td>
                  <td>
                      <button type="button" (click)="prepareBrandForm(brand)" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#brandCRUDModal" data-bs-dismiss="modal">
                          Güncelle
                      </button>
                  </td>
              </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" data-bs-backdrop="static" id="brandCRUDModal" tabindex="-1" aria-labelledby="brandCRUDModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="brandCRUDModalLabel">{{getBrandModalTitle()}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="brandForm">
          <div class="mb-3">
            <label for="brandNameControlInput" class="form-label">Marka Adı</label>
            <input type="text"class="form-control" id="brandNameControlInput" formControlName="name" placeholder="Marka Adını Giriniz.">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="clearAllBrandCRUDCache()" data-bs-dismiss="modal">Kapat</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="insOrUpBrand(getBrandModalTitle())">{{getBrandModalTitle()}}</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="colorListModal" tabindex="-1" aria-labelledby="colorModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="colorModalLabel">Renkler Listelendi.</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="naviColorFilterTextFormControl" class="form-label">Renk Arama</label>
          <input type="text" [(ngModel)]="naviColorFilterText" class="form-control" id="naviColorFilterTextFormControl" placeholder="Arama İfadesini Giriniz">
        </div>
        <div *ngIf="naviColorFilterText" class="alert alert-secondary">
            Girilen Arama İfadesi: {{naviColorFilterText}}
        </div>
        <table class="table table-responsive table-striped table-dark table-hover">
          <thead class="thead-light">
              <tr>
                  <th>No</th>
                  <th>Renk Adı</th>
                  <th>Sil</th>
                  <th>Arabaları Listele</th>
                  <th>Güncelle</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let color of colors |colorFilterPipe:naviColorFilterText">
                  <td>{{color.id}}</td>
                  <td>{{color.name}}</td>
                  <td>
                      <button type="button" class="btn btn-danger" (click)="deleteCurrentColor(color)">
                          Sil
                      </button>
                  </td>
                  <td>
                      <button type="button" class="btn btn-info" data-bs-dismiss="modal" routerLink="/cars/color/{{color.id}}">
                          Arabaları Listele
                      </button>
                  </td>
                  <td>
                      <button type="button" data-bs-toggle="modal" data-bs-target="#colorCRUDModal" (click)="prepareColorForm(color)" class="btn btn-success" data-bs-dismiss="modal">
                          Güncelle
                      </button>
                  </td>
              </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" data-bs-backdrop="static" id="colorCRUDModal" tabindex="-1" aria-labelledby="colorCRUDModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="colorCRUDModalLabel">{{getColorModalTitle()}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="colorForm">
          <div class="mb-3">
            <label for="colorNameControlInput" class="form-label">Renk Adı</label>
            <input type="text" class="form-control" id="colorNameControlInput" formControlName="name" placeholder="Renk Adını Giriniz.">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="clearAllColorCRUDCache()" data-bs-dismiss="modal">Kapat</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="insOrUpColor(getColorModalTitle())">{{getColorModalTitle()}}</button>
      </div>
    </div>
  </div>
</div>