<div *ngIf="dataLoaded==false" class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <br>
</div>
<table class="table table-responsive table-striped table-hover overflow-auto">
    <caption><h3><span class="badge bg-secondary">Kiralamalar</span></h3></caption>
    <thead class="table-dark">
        <tr>
            <th>Araba Tanımı</th>
            <th>Müşteri Adı</th>
            <th>Kiralanma Tarihi</th>
            <th>Geri Dönüş Tarihi</th>
        </tr>
    </thead>
    <tbody class="table-secondary">
        <tr *ngFor="let rental of rentals">
            <td>{{rental.carName}}</td>
            <td>{{rental.customerName}}</td>
            <td>{{rental.rentDate}}</td>
            <td>{{rental.returnDate}}</td>
        </tr>
    </tbody>
</table>