<div *ngIf="dataLoaded==false" class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
</div>
<h3><span class="badge bg-secondary">Müşteriler</span></h3>
<table class="table table-responsive table-striped table-dark table-hover">
    <thead>
        <tr>
            <th>No</th>
            <th>Şirket Adı</th>
            <th>Kullanıcı No</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let customer of customers">
            <td>{{customer.id}}</td>
            <td>{{customer.companyName}}</td>
            <td>{{customer.userId}}</td>
        </tr>
    </tbody>
</table>
